<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deppon.foss.module.base.baseinfo.api.server.sample.SampleEntity">

	<resultMap id="sampleMap" type="com.deppon.foss.module.base.baseinfo.api.server.sample.SampleEntity">
		<result property="id" column="FID" />
		<result property="createDate" column="CREATEDATA" />
		<result property="name" column="NAME" />
	</resultMap>
	

	<select id="getById" parameterType="string" resultMap="sampleMap">
		select
			ID,
			CREATEDATE,
			NAME
		from
			T_BAS_SAMPLE
		where
			ID=#{svcCode}
	</select>

	<select id="getAll" parameterType="Map" resultMap="sampleMap">
		<![CDATA[
		SELECT 	* FROM	T_BAS_SAMPLE
		]]>
	</select>
</mapper>