<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
			http://www.springframework.org/schema/context 
			http://www.springframework.org/schema/context/spring-context-3.0.xsd
			http://www.springframework.org/schema/jee 
			http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
			http://www.springframework.org/schema/tx 
			http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
			http://www.springframework.org/schema/aop 
			http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
			http://code.alibabatech.com/schema/dubbo 
			http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	<context:property-placeholder location="classpath*:foss.properties" />

	<dubbo:application name="tfr-dubboclient" />
	<dubbo:consumer check="false" />
	<dubbo:registry address="${dubbo.registry.address}" timeout="60000" />
	<dubbo:protocol name="dubbo" port="-1" />
	<dubbo:monitor protocol="registry" />


	<dubbo:reference id="airlinesValueAddService4Dubbo" interface="com.deppon.foss.module.pickup.pricing.dubbo.api.server.service.IAirlinesValueAddService"
					 group="${dubbo.service.group}" timeout="5000"/>

	<dubbo:reference id="flightPricePlanDetailService4Dubbo" interface="com.deppon.foss.module.pickup.pricing.dubbo.api.server.service.IFlightPricePlanDetailService"
					 group="${dubbo.service.group}" timeout="5000"/>

	<dubbo:reference id="flightPricePlanService4Dubbo" interface="com.deppon.foss.module.pickup.pricing.dubbo.api.server.service.IFlightPricePlanService"
					 group="${dubbo.service.group}" timeout="5000"/>

	<dubbo:reference group="${dubbo.service.group}" id="agentDeliveryFeeSchemeService4Dubbo"
					 timeout="5000"
					 interface="com.deppon.foss.module.pickup.pricing.dubbo.api.server.service.IAgentDeliveryFeeSchemeService" />

	<dubbo:reference  id="externalPriceSchemeService4Dubbo" interface="com.deppon.foss.module.pickup.pricing.dubbo.api.server.service.IExternalPriceSchemeService"
					  group="${dubbo.service.group}" timeout="5000"/>

	<dubbo:reference id="partbussPriceCaculateService4Dubbo" interface="com.deppon.foss.module.pickup.pricing.dubbo.api.server.service.IPartbussPriceCaculateService"
					 group="${dubbo.service.group}" timeout="5000"  />

	<dubbo:reference id="productService4Dubbo" interface="com.deppon.foss.module.pickup.pricing.dubbo.api.server.service.IProductService"
					 group="${dubbo.service.group}" timeout="5000"/>
</beans>