@charset "utf-8";
/* CSS Document */

/* 装车进度查询——内容块——begin */
.foss_queryLoadingProgress_thumb_wrap{padding:10px 0 10px 0}
.foss_queryLoadingProgress_search_task{width:100%; height:130px; border:1px #ddd solid; font-size:12px; line-height:20px; margin-top:10px}
.foss_queryLoadingProgress_top_task{width:100%; height:63px; background-color:#ebebeb; float:left}
.foss_queryLoadingProgress_time_task{width:135px; height:46px; padding:0 8px 0 8px; vertical-align:middle; text-align:center; float:left;}
.foss_queryLoadingProgress_clear{clear:both;}
.foss_queryLoadingProgress_dline{width:40px; float:left; padding:15px 0 15px 2px;}
.foss_queryLoadingProgress_loading{width:352px; height:60px; margin:0 0 0 0; border:1px #CACACA solid; background-color:#FFF; float:left;}
.foss_queryLoadingProgress_time_complete{width:135px; height:60px; padding:5px 0 5px 0; background-image:url(../../images/platform/foss-bgimg_tfr_time_bg_01.gif); text-align:center; vertical-align:middle; float:left;}
.foss_queryLoadingProgress_time_surplus{width:90px; height:60px; float:left; background-image:url(../../images/platform/foss-bgimg_tfr_time_bg_02.gif); color:#FFF; font-weight:bold; font:14px; line-height:36px; text-align:center}
.foss_queryLoadingProgress_task_content{width:100%; height:64px; background-color:#FFF; float:left;}

/* 装车进度查询——内容块——end */

/* progress——基础内容块——begin */
.x-progress.below80,.x-progress.over80,.x-progress.over90,.x-progress.complete {
    height: 19px;
    border: 1px solid #fff;
    padding: 0 2px 0 2px;
	background:transparent url(../../images/platform/foss-bgimg_tfr_jdt_bg_01.gif) repeat-x !important;	
}
/* progress——基础内容块——end */

/* progress.below80——内容块——begin */
.below80 .x-progress-bar {
    height: 14px;
    border: none;
    background: transparent url(../../images/platform/foss-bgimg_tfr_below80.gif) repeat-x !important;
}
/* progress.below80——内容块——end */

/* progress.over80——内容块——begin */
.over80 .x-progress-bar {
    height: 14px;
    border: none;
    background: transparent url(../../images/platform/foss-bgimg_tfr_over80.gif) repeat-x !important;
}
/* progress.over80——内容块——end */

/* progress.over90——内容块——begin */
.over90 .x-progress-bar {
    height: 14px;
    border: none;
    background: transparent url(../../images/platform/foss-bgimg_tfr_over90.gif) repeat-x !important;
}
/* progress.over90——内容块——end */

/* progress.complete——内容块——begin */
.complete .x-progress-bar {
    height: 14px;
    border: none;
    background: transparent url(../../images/platform/foss-bgimg_tfr_complete.gif) repeat-x !important;
}
/* progress.complete——内容块——end */

/* 任务说明——内容块——begin*/
.foss_queryLoadingProgress_task-explain-base {
    width: 14px;
    height: 14px;
    border: none;
}

.foss_queryLoadingProgress_task-explain-notopen{
    background: #CCC
}

.foss_queryLoadingProgress_task-explain-below80{
   background: transparent url(../../images/platform/foss-bgimg_tfr_below80.gif) repeat-x !important;
}

.foss_queryLoadingProgress_task-explain-over80{
   background: transparent url(../../images/platform/foss-bgimg_tfr_over80.gif) repeat-x !important;
}

.foss_queryLoadingProgress_task-explain-over90{
   background: transparent url(../../images/platform/foss-bgimg_tfr_over90.gif) repeat-x !important;
}

.foss_queryLoadingProgress_task-explain-complete{
    background: transparent url(../../images/platform/foss-bgimg_tfr_complete.gif) repeat-x !important;
}

.foss_queryLoadingProgress_task-explain-timeover{
	border: 1px solid #F00;
	width: 12px;
    height: 12px;
	background:#FFF;
}
/* 任务说明——内容块——end*/