<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd
           http://www.springframework.org/schema/mvc
           http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd"
           default-autowire="byName" >
    <mvc:annotation-driven />
    
    <bean name="oppStatementAccountService" class="com.deppon.foss.module.transfer.edi.server.ws.OppStatementAccountServiceImpl"></bean>
    <bean name="oppToFOSSService" class="com.deppon.foss.module.transfer.edi.server.ws.OPPToFOSSService"/>
    <bean name="oppGetAgentDeptService" class="com.deppon.foss.module.transfer.opp.server.ws.OppGetFossAgentDeptServiceImpl"></bean>
    <bean name="oppSignConfirService" class="com.deppon.foss.module.transfer.opp.server.ws.OppSignConfirService"></bean>
    <bean name="oppToFossSignWaybillService" class="com.deppon.foss.module.transfer.opp.server.ws.OppToFossSignWaybillService"></bean>
    
    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<list>
				<!-- json转换器 -->
				<bean class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter" />
			</list>
		</property>
	</bean>
    
    	<!-- 异常处理器 -->	
	<bean class="com.deppon.foss.module.transfer.edi.server.ws.AllHandlerExceptionResolver" />
    <bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping">
 	   <property name="interceptors">
			<list>
				<bean class="com.deppon.foss.module.transfer.edi.server.ws.AllHandlerInterceptor" />
			</list>
		</property>
    </bean>
    
    
    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
        <property name="messageConverters">
            <list>
                <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                    <property name="supportedMediaTypes">
                        <list>
                            <value>text/plain;charset=UTF-8</value>
                        </list>
                    </property>
                </bean>
                <bean  class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
                    <property name="supportedMediaTypes">
                        <list>
                            <value>text/html; charset=UTF-8</value>
                        </list>
                    </property>
                </bean>
            </list>
        </property>
    </bean>
</beans>
