<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="com.deppon.foss.module.pkp-creatingexp" version="0.0.1">
	<requires>
		<import plugin-id="com.deppon.foss.module.mainframe" />
		<import plugin-id="com.deppon.foss.module.init" />
		<import plugin-id="com.deppon.foss.module.authorization" />
		<import plugin-id="com.deppon.foss.module.boot" />
		<import plugin-id="com.deppon.foss.module.pkp-common" />
		<import plugin-id="com.deppon.foss.module.pkp-creating" />
		<import plugin-id="com.deppon.foss.module.pkp-pricing" />
		<import plugin-id="com.deppon.foss.module.bse-baseinfo" />
		<import plugin-id="com.deppon.foss.module.bse-dict" />
		<import plugin-id="com.deppon.foss.module.pkp-changingexp" />
	</requires>
	
	<runtime>
		<library id="pkp-creatingexp.code" type="code" path="classes/">
			<export prefix="*"/>
		</library>
	</runtime>
	
	<!--运单新增 功能菜单 添加
	<extension plugin-id="com.deppon.foss.module.mainframe"
		point-id="menu-item" id="openExpWaybillUI">
		<parameter id="id" value="openExpWaybillUI" />
		<parameter id="code" value="10" />
		<parameter id="parentId" value="Express" />
		<parameter id="menuItem-class"
			value="com.deppon.foss.module.pickup.creatingexp.client.action.ExpOpenWaybillEditUIAction" />
		<parameter id="index" value="1" />
		<parameter id="text" value="快递开单" />
		<parameter id="icon" value="" />
		<parameter id="shortcut" value="ctrl+shift+a" />
		<parameter id="opentime" value="3"/>
	</extension>
	
	<extension plugin-id="com.deppon.foss.module.mainframe"
		point-id="menu-item" id="openExpSalesDeptWaybillUI">
		<parameter id="id" value="openExpSalesDeptWaybillUI" />
		<parameter id="code" value="11" />
		<parameter id="parentId" value="Express" />
		<parameter id="menuItem-class"
			value="com.deppon.foss.module.pickup.creatingexp.client.action.ExpOpenSalesDeptWaybillUIAction" />
		<parameter id="index" value="2" />
		<parameter id="text" value="新管理营业部出发运单" />
		<parameter id="icon" value="" />
		<parameter id="shortcut" value="ctrl+shift+b" />
		<parameter id="opentime" value="3"/>
	</extension>
	-->
	
	
	
	
	<!--需要在init里预先实例化的类-->
	<extension plugin-id="com.deppon.foss.module.init" point-id="guiceModule" id="aop-waybill">
		<parameter id="className" value="com.deppon.foss.module.pickup.creatingexp.client.guice.ExpWayBillModule" />
	</extension>
	
</plugin>
