<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
			http://www.springframework.org/schema/context 
			http://www.springframework.org/schema/context/spring-context-3.0.xsd
			http://www.springframework.org/schema/jee 
			http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
			http://www.springframework.org/schema/tx 
			http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
			http://www.springframework.org/schema/util 
			http://www.springframework.org/schema/util/spring-util-3.0.xsd ">
<!-- 
	 <bean id="esbJmsConnectionFactory1" class="com.ibm.mq.jms.MQQueueConnectionFactory">
		<property name="transportType">
			<util:constant static-field="com.ibm.msg.client.wmq.WMQConstants.WMQ_CM_CLIENT" />
		</property>
		<property name="queueManager" value="${queueManager1}">
		</property>
		<property name="hostName" value="${hostName1}">
		</property>
		<property name="channel" value="${channel1}">
		</property>
		<property name="port" value="${port1}">
		</property>
		<property name="CCSID" value="${CCSID1}" />
	</bean>
	
	<bean id="clientListener1"
		class="com.deppon.esb.core.service.access.receive.ClientListener" />

	<bean id="serverListener1"
		class="com.deppon.esb.core.service.access.receive.ServerListener" /> -->

	<bean id="clientContainer1"
		class="org.springframework.jms.listener.DefaultMessageListenerContainer" lazy-init="true">
		<property name="connectionFactory" ref="esbJmsConnectionFactory1" />
		<property name="maxConcurrentConsumers" value="2" />
		<property name="concurrentConsumers" value="5" />
		<property name="messageListener" ref="clientListener1" />
		<property name="destinationName" value="${clientDestinationName1}" />
		<property name="messageSelector" value="esbServiceCode IN ('ESB_FIN_SELF2ESB_VERIFY_BAD_DEBTS')"/>
	</bean> 

	<bean id="serverContainer1"
		class="org.springframework.jms.listener.DefaultMessageListenerContainer" lazy-init="true">
		<property name="connectionFactory" ref="esbJmsConnectionFactory1" />
		<property name="maxConcurrentConsumers" value="2" />
		<property name="concurrentConsumers" value="5" />
		<property name="messageListener" ref="serverListener1" />
		<property name="destinationName" value="${serverDestinationName1}" />
		<property name="messageSelector" value="backServiceCode IN ('FOSS_ESB2FOSS_VERIFY_BAD_DEBTS')"/>
	</bean>

	<!-- 发送请求/响应消息 -->
	<!-- <bean id="jmsTemplate1" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory">
			<ref local="esbJmsConnectionFactory1" />
		</property>
	</bean> -->

	<bean id="esbServiceCodeToJmsTemplate1" class="com.deppon.esb.core.service.access.send.EsbServiceCodeToJmsTemplate">
		<property name="serviceCodeToJmsTemplateMap">
			<map>
				<!--key为接口编码 value-ref 为需要发送请求/响应消息的jmsTemplate-->
				<entry key="FOSS_ESB2FOSS_VERIFY_BAD_DEBTS" value-ref="jmsTemplate1"></entry>
				<entry key="ESB_FIN_SELF2ESB_VERIFY_BAD_DEBTS" value-ref="jmsTemplate1"></entry>
			</map>
		</property>
		<property name="serviceCodeToResponseQueue">
			<map>
				<!--key为接口编码 value 为需要发送请求/响应消队列 -->
				<entry key="FOSS_ESB2FOSS_VERIFY_BAD_DEBTS" value="RQ_FOSS_RESPONSE_PKP_OUT"></entry>
				<entry key="ESB_FIN_SELF2ESB_VERIFY_BAD_DEBTS" value="RQ_FOSS_RESPONSE_PKP_OUT"></entry>
			</map>
		</property>
	</bean>

</beans>

