.order-dispatchOrder-row-pink{background-color:#FF99FF;}
.order-dispatchOrder-row-blue{background-color:#A3E0F8;}
.order-dispatchOrder-row-yellow{background-color:#F0E68C;}
.order-dispatchOrder-row-red{background-color:#FF2525;}
.deppon_icons_edit_hidden{display:none;}
/* 裹裹订单背景  */
.order-dispatchOrder-row-deepred{background-color:#FA6F8E;}
.foss_icons_pkp_gougouOrder{
  background-color: #FA6F8E;
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
  display: inline-block;
}