.exceptionProcess_mark_color{
	background:#FFC0CB;
}

.printDeliver_mark_color{
	background:#e09fed;
}

.deppon_icons_edit_hide{
	display:none;	
}

.deppon_icons_notice_hide{
	display:none;	
}

.foss_icons_pkp_exceptionSec_hide{
	display:none;	
}

.foss_icons_pkp_exception_hide{
	display:none;	
}

.foss_icons_pkp_exception_hasSignRecord
{background-color:#A3E0F8;}