@charset "utf-8";

.predeliver_icons_edit {
	width:20px;
	height:23px;
	background-image: url(../../images/predeliver/edit.gif);
	background-repeat:no-repeat;
 	margin:1px;
}
.passProcess_mark_color{
	background:#99FF00;
}
tr.predeliver_notice_customer_row_pink {
    background-color: #F9CAD0;
}
tr.predeliver_notice_customer_row_purole {
    background-color: #E3CCF6;
}
tr.predeliver_notice_customer_row_white {
    background-color: #FFFFFF;
}
.predeliver_row_red{
	background-color: #F08080;
}
.predeliver_row_pink{
	background-color: #F9CAD0;
}
.predeliver_row_blue{
	background-color: #A3E0F8;
}
.predeliver-beforeNoticeIndex-row-purole
{background-color:#E3CCF6;}

.predeliver_create_new_Deliver_row_purole {
	background-color: #99CCCC;
}

.predeliver-editDeliverbillNew-row-blue
{background-color:#A3E0F8;}