@charset "utf-8";
/* CSS Document */
.big_Customer_pic_common{
	background : url('../../../images/login/big_customer.png')no-repeat left center !important;
	width: 24px;
	height: 20px;
	display: inline-block;
}