@charset "utf-8";
/* CSS Document */
#T_home{background-image:url(../../../images/login/bg.png); background-repeat:repeat; padding-left:10px;}
#mainAreaPanel-body{padding:10px;}
.welMes{width:999px; height:20px;margin:10px;color:#fff;padding:5px 0 20px 0;}
.procl{width:999px; height: auto !important; border:1px #999 solid;margin:10px; background-color:#fff; -moz-border-radius:5px;-webkit-border-radius: 5px; padding:20px;}
.question{width:999px; height:150px; border:1px #999 solid;margin:10px;background-color:#fff; -moz-border-radius:5px;-webkit-border-radius: 5px;padding:20px;}

.titlepic{background-image:url(../../../images/login/titlepic.png); background-repeat:no-repeat; width:959px; height:143px;}
.grid{width:959px; height: auto !important; margin-top:20px;}
.right{ float:left;margin:5px 0 0 30px; line-height:30px;}
.right td{ width:350px;}
.right td.questmark{ width:30px !important;}
.right td a{ color:#000; text-decoration:none;}
.right td a:hover{ color:#faaf19; text-decoration:none;}

.systemHelpGird{width:765px; height: auto !important; margin-top:20px; margin-left:50px;}

#systemHelpGird  .x-grid-with-row-lines .x-grid-cell{border-bottom:1px #c1c1c1 dashed}
#systemHelpGird  .x-grid-row-alt{background:#f1f1f1;}


#announcementgird  .x-grid-with-row-lines .x-grid-cell{border-bottom:1px #c1c1c1 dashed}
#announcementgird  .x-grid-row-alt{background:#f1f1f1;}
/* 跳转CUBC主页面按钮前的小图标  add by 378375 */
#FOSSHyperlinkToCUBC{background-image:url(../../../images/login/cubc.png); background-repeat: no-repeat;}
