@charset "utf-8";
.orangerow{
	background: #FABA5B;  
}

.redrow{
	background: #FF0000;  
}

.statement_consumer_hide{
	display:none;	
}

.x-form-readonly.readonlygraybackground input,.x-form-readonly.readonlygraybackground textarea,.x-form-readonly.readonlygraybackground checkbox{
	border:1px solid #B5B8C8 !important;
	background-color: #B9B9B9 !important; 
}
/* */
.statement_consumer_cod_changeAmount{  
    background : #ffd800;
}

.label-class-red{
                color: red;
            }
            
.label-class-green{
                color: green;
            }

