.adjustTransportationPath-wayBillGap {
	margin-left:173px;
	border-left-style:solid;
	border-left-width:1px;
}

.adjustTransportationPath-serialNumberGap {
	margin-left:80px;
}

.adjustTransportationPathQuery .x-grid-cell-inner {
	padding-left: 15px;
	border-right-style:solid;
	border-right-width:1px;

	border-left-style:solid;
	border-left-width:1px;
}
