@charset "utf-8";
/* CSS Document */

/* progress——基础内容块——begin */
.x-progress.below80,.x-progress.over80,.x-progress.over90,.x-progress.complete {
    height: 19px;
    border: 1px solid #fff;
    padding: 0 2px 0 2px;
	background:transparent url(../../images/scheduling/platformDispatch/jdt_bg_01.gif) repeat-x !important;	
}
/* progress——基础内容块——end */

/* progress.below80——内容块——begin */
.below80 .x-progress-bar {
    height: 14px;
    border: none;
    background: transparent url(../../images/scheduling/platformDispatch/below80.gif) repeat-x !important;
}
/* progress.below80——内容块——end */

/* progress.over80——内容块——begin */
.over80 .x-progress-bar {
    height: 14px;
    border: none;
    background: transparent url(../../images/scheduling/platformDispatch/over80.gif) repeat-x !important;
}
/* progress.over80——内容块——end */

/* progress.over90——内容块——begin */
.over90 .x-progress-bar {
    height: 14px;
    border: none;
    background: transparent url(../../images/scheduling/platformDispatch/over90.gif) repeat-x !important;
}
/* progress.over90——内容块——end */

/* progress.complete——内容块——begin */
.complete .x-progress-bar {
    height: 14px;
    border: none;
    background: transparent url(../../images/scheduling/platformDispatch/complete.gif) repeat-x !important;
}
/* progress.complete——内容块——end */

/* 任务说明——内容块——begin*/
.task-explain-base {
    width: 14px;
    height: 14px;
    border: none;
}

.task-explain-notopen{
    background: #CCC
}

.task-explain-below80{
   background: transparent url(../../images/scheduling/platformDispatch/below80.gif) repeat-x !important;
}

.task-explain-over80{
   background: transparent url(../../images/scheduling/platformDispatch/over80.gif) repeat-x !important;
}

.task-explain-over90{
   background: transparent url(../../images/scheduling/platformDispatch/over90.gif) repeat-x !important;
}

.task-explain-complete{
    background: transparent url(../../images/scheduling/platformDispatch/complete.gif) repeat-x !important;
}

.task-explain-timeover{
	border: 1px solid #F00;
	width: 12px;
  height: 12px;
	background:#FFF;
}
/* 任务说明——内容块——end*/