tr.truckSchedulingTask-row-green {background-color: #e2ffe2;}
tr.truckSchedulingTask-row-red {background-color: #FFB0C4;}
tr.truckSchedulingTask-row-rest {background-color: #ffe2e2;}
td.alertedCell { 
        background-color: #ffe2e2;
}

td.alertedCellGreen { 
        background-color: #e2ffe2;
}

td.alertedCellRed { 
        background-color: #FFB0C4;
}