<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:http="http://cxf.apache.org/transports/http/configuration"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/context 
			http://www.springframework.org/schema/context/spring-context-2.5.xsd
			http://www.springframework.org/schema/jee 
			http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
			http://www.springframework.org/schema/tx 
			http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
			http://cxf.apache.org/transports/http/configuration http://cxf.apache.org/schemas/configuration/http-conf.xsd
			http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

	<bean id="properties" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:com/deppon/foss/util/test/jdbc.properties</value>
			</list>
		</property>
	</bean>
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${jdbc.driver}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	<!-- 数据连接管理 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="dbunitHelper" class="com.deppon.foss.util.test.DBUnitTestHelper">
		<property name="schema" value="${jdbc.username}"/>
		<property name="properties">
			<props>
				<prop key="http://www.dbunit.org/properties/datatypeFactory" >
					org.dbunit.ext.oracle.Oracle10DataTypeFactory
				</prop>
				<prop key="http://www.dbunit.org/properties/metadataHandler" >
					org.dbunit.database.DefaultMetadataHandler
				</prop>
			</props>
		</property>
		<!-- 配置CSV文件所在目录 -->
        <property name="csvDirectories">
        	<list>
        		<value>com/deppon/foss/util/test/data</value>
       		</list>
        </property>
        <property name="dataSource" ref="dataSource" />
	</bean>		

	<tx:annotation-driven transaction-manager="transactionManager" />
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="mapperLocations" value="classpath*:com/deppon/foss/util/test/mapper/*.xml" />
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="sampleDao" class="com.deppon.foss.util.test.dao.SampleDao"></bean>
</beans>