td.alertedCellBlue { 
        background-color: #00FF00;
}
td.alertedCellGreen { 
        background-color: #FFFF00;
}
td.alertedCellRed { 
        background-color: #FFB0C4;
}
td.alertedCellGrey{
		background-color:#808080;
}