.handOverBill_queryWayBill_serialNoGap {
	margin-left:26px;
	border-left-style:solid;
	border-left-width:1px;
}

.handOverBill_addNew_serialNoGap {
	margin-left:62px;
	border-left-style:solid;
	border-left-width:1px;
}

.handOverBill_query_background{
	background : orange;
}

.deliver_load_confirm_serialNoGap {
	margin-left:25px
}

.deliver_load_gapreport{
	background : #FFFF77;
}