@charset "utf-8";
/* CSS Document */

/* 任务说明——内容块——begin*/

.edit-airfreight {
	background:url(../../images/airfreight/edit.jpg);
	display:block;
	float:left;
	margin-left:12px;
	width:17px;                              
	height:17px;
}

.plugins-airfreight {
	background:url(../../images/airfreight/edit.jpg);
	display:block;
	float:left;
	margin-left:12px;
	width:17px;                              
	height:17px;
}

.up-airfreight {
	background:url(../../../images/airfreight/arrow_up_16.png);
	display:block;
	float:left;
	margin-left:12px;
	width:17px;                              
	height:17px;
	left top no-repeat!important;
}

.down-airfreight {
	background:url(../../../images/airfreight/arrow_down_16.png);
	display:block;
	float:left;
	margin-left:12px;
	width:17px;                              
	height:17px;
	center top no-repeat!important;
}

.unfold-airfreight {
	background:url(../../images/airfreight/maximize.gif);
	display:block;
	float:left;
	margin-left:12px;
	width:17px;                              
	height:17px;
	center top no-repeat!important;
}

.retract-airfreight {
	background:url(../../images/airfreight/minimize.gif);
	display:block;
	float:left;
	margin-left:12px;
	width:17px;                              
	height:17px;
	center top no-repeat!important;
}

.x-grid-record-gray{
	background: #8E8E8E;
}

.x-grid-record-yellow{
	background: #FFE66F;
}