.failProcess_mark_color{
	background: red;
}
.passProcess_mark_color{
	background:#99FF00;
}

.deppon_icons_pickUpInventory{
	width:67px;height:22px;background-image:url(../../images/sign/goods_front.jpg);
}
.deppon_icons_pickUpInventory:hover{
	width:67px;height:22px;background-image:url(../../images/sign/goods_front.jpg);background-color:#D4D4D4;
}

.deppon_icons_pickUpInventory:active{
	width:67px;height:22px;background-image:url(../../images/sign/goods_front.jpg);background-position:center;background-color:#D4D4D4;
}
.sign_czm_query_color{
	color:#FF2525;
}