<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="com.deppon.foss.module.pkp-changingexp" version="0.0.1">
	<requires>
		<import plugin-id="com.deppon.foss.module.mainframe" />
		<import plugin-id="com.deppon.foss.module.init" />
		<import plugin-id="com.deppon.foss.module.authorization" />
		<import plugin-id="com.deppon.foss.module.boot" />
		<import plugin-id="com.deppon.foss.module.pkp-common" />
		<import plugin-id="com.deppon.foss.module.bse-baseinfo" />
		<import plugin-id="com.deppon.foss.module.pkp-creating" />
		<import plugin-id="com.deppon.foss.module.bse-dict" />
	</requires>
	<runtime>
		<library id="pkp-changingexp.code" type="code" path="classes/">
		<export prefix="*"/>
		</library>
	</runtime>
	 
	
	<extension plugin-id="com.deppon.foss.module.mainframe"
		point-id="menu-item" id="openWaybillRFCexp">
		<parameter id="id" value="openWaybillRFCexp" />
		<parameter id="code" value="6" />
		<parameter id="parentId" value="ExpressModify" />
		<parameter id="menuItem-class"
			value="com.deppon.foss.module.pickup.changingexp.client.action.OpenWaybillRFCUIAction" />
		<parameter id="index" value="1" />
		<parameter id="text" value="#{waybill.action.waybillrfc}" />
		<parameter id="icon" value="" />
		<parameter id="shortcut" value="ctrl+shift+3" />
		<parameter id="opentime" value="3"/>
	</extension>
	
	
	<extension plugin-id="com.deppon.foss.module.mainframe"
		point-id="menu-item" id="openWaybillCheckRFCexp">
		<parameter id="id" value="openWaybillCheckRFCexp" />
		<parameter id="code" value="6" />
		<parameter id="parentId" value="ExpressModify" />
		<parameter id="menuItem-class"
			value="com.deppon.foss.module.pickup.changingexp.client.action.OpenWaybillRFCCheckUIAction" />
		<parameter id="index" value="2" />
		<parameter id="text"  value="#{pickup.changingexp.waybillRfcCheck}" />  
		<parameter id="icon" value="" />
		<parameter id="shortcut" value="ctrl+shift+3" />
		<parameter id="opentime" value="3"/>
		<parameter id="todomsgremindbiztype" value="PKP_WB_AUDIT_WAY" />
	</extension>
	
	<extension plugin-id="com.deppon.foss.module.mainframe"
		point-id="menu-item" id="openWaybillRFCQueryCheckAndDealexp">
		<parameter id="id" value="openWaybillRFCQueryCheckAndDealexp" />
		<parameter id="code" value="6" />
		<parameter id="parentId" value="ExpressModify" />
		<parameter id="menuItem-class"
			value="com.deppon.foss.module.pickup.changingexp.client.action.OpenWaybillRFCQueryCheckAndDealUIAction" />
		<parameter id="index" value="3" />
		<parameter id="text"  value="#{pickup.changingexp.waybillRfcQueryCheckAndDeal}" />  
		<parameter id="icon" value="" />
		<parameter id="shortcut" value="ctrl+shift+3" />
		<parameter id="opentime" value="3"/>
	</extension>
	
	<extension plugin-id="com.deppon.foss.module.mainframe"
		point-id="menu-item" id="openWaybillDealRFCexp">
		<parameter id="id" value="openWaybillDealRFCexp" />
		<parameter id="code" value="6" />
		<parameter id="parentId" value="ExpressModify" />
		<parameter id="menuItem-class"
			value="com.deppon.foss.module.pickup.changingexp.client.action.OpenWaybillRFCDealUIAction" />
		<parameter id="index" value="4" />
		<parameter id="text" value="#{pickup.changingexp.waybillRfcDeal}" />
		<parameter id="icon" value="" />
		<parameter id="shortcut" value="ctrl+shift+3" />
		<parameter id="opentime" value="3"/>
		<parameter id="todomsgremindbiztype" value="PKP_WB_ACCECPT_WAY" />
	</extension>
	
    <extension plugin-id="com.deppon.foss.module.mainframe"
        point-id="menu-item" id="openWaybillRFCAuthorizeexp">
        <parameter id="id" value="openWaybillRFCAuthorizeexp" />
        <parameter id="code" value="6" />
        <parameter id="parentId" value="ExpressModify" />
        <parameter id="menuItem-class"
            value="com.deppon.foss.module.pickup.changingexp.client.action.OpenWaybillRFCAuthorizeUIAction" />
        <parameter id="index" value="4" />
        <parameter id="text" value="审核授权" />
        <parameter id="icon" value="" />
        <parameter id="shortcut" value="ctrl+shift+3" />
        <parameter id="opentime" value="3"/>
    </extension>
	
	<!--需要在init里预先实例化的类-->
    <extension plugin-id="com.deppon.foss.module.init" point-id="guiceModule" id="aop-waybill">
        <parameter id="className" value="com.deppon.foss.module.pickup.changingexp.client.guice.WayBillRfcModule" />
    </extension>
	
</plugin>
