<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="com.deppon.foss.module.information" version="0.7">
	<requires>
		<import plugin-id="com.deppon.foss.module.mainframe" />
		<import plugin-id="com.deppon.foss.module.init" />
		<import plugin-id="com.deppon.foss.module.boot" />
		
		<import plugin-id="com.deppon.foss.module.pkp-creating" />
         <import plugin-id="com.deppon.foss.module.pkp-common" />
	</requires>
	<runtime>
		<library id="information.code" type="code" path="classes/">
		   <export prefix="*"/>
		</library>
	</runtime>


	<extension plugin-id="com.deppon.foss.module.mainframe" point-id="info-message" id="info">
		<parameter id="info-class" value="com.deppon.foss.module.information.client.message.InfoPanel" />
		<parameter id="info-method" value="pushMessage"/>
	</extension>
	
	

	<!--
	
	<extension plugin-id="com.deppon.foss.module.mainframe"
		point-id="menu-item" id="node01">
		<parameter id="id" value="node01" />
		<parameter id="code" value="6" />
		<parameter id="parentId" value="ShuttleCargo" />
		<parameter id="menuItem-class"
			value="com.deppon.foss.module.waybill.client.action.OpenWaybillEditUIAction" />
		<parameter id="index" value="1" />
		<parameter id="text" value="node01" />
		<parameter id="icon" value="" />
		<parameter id="shortcut" value="ctrl+shift+a" />
		<parameter id="opentime" value="3"/>
	</extension>
	
	<extension plugin-id="com.deppon.foss.module.mainframe"
		point-id="menu-item" id="node02">
		<parameter id="id" value="node02" />
		<parameter id="code" value="6" />
		<parameter id="parentId" value="ShuttleCargo" />
		<parameter id="index" value="1" />
		<parameter id="text" value="node02" />
		<parameter id="icon" value="" />
		<parameter id="shortcut" value="ctrl+shift+a" />
		<parameter id="opentime" value="3"/>
	</extension>
	
		<extension plugin-id="com.deppon.foss.module.mainframe"
		point-id="menu-item" id="node03">
		<parameter id="id" value="node03" />
		<parameter id="code" value="6" />
		<parameter id="parentId" value="node02" />
		<parameter id="menuItem-class"
			value="com.deppon.foss.module.waybill.client.action.OpenWaybillEditUIAction" />
		<parameter id="index" value="1" />
		<parameter id="text" value="#{waybill.action.waybilladdnew}" />
		<parameter id="icon" value="" />
		<parameter id="shortcut" value="ctrl+shift+a" />
		<parameter id="opentime" value="3"/>
	</extension>

	<extension plugin-id="com.deppon.foss.module.mainframe"
		point-id="menu-item" id="node04">
		<parameter id="id" value="node04" />
		<parameter id="code" value="6" />
		<parameter id="parentId" value="Finance" />
		<parameter id="menuItem-class"
			value="com.deppon.foss.module.waybill.client.action.OpenWaybillEditUIAction" />
		<parameter id="index" value="1" />
		<parameter id="text" value="#{waybill.action.waybilladdnew}" />
		<parameter id="icon" value="" />
		<parameter id="shortcut" value="ctrl+shift+a" />
		<parameter id="opentime" value="3"/>
	</extension>


	<extension plugin-id="com.deppon.foss.module.mainframe"
		point-id="menu-item" id="openWaybillUI">
		<parameter id="id" value="openWaybillUI" />
		<parameter id="code" value="6" />
		<parameter id="parentId" value="MainPage" />
		<parameter id="menuItem-class"
			value="com.deppon.foss.module.waybill.client.action.TestUIAction" />
		<parameter id="index" value="1" />
		<parameter id="text" value="test" />
		<parameter id="icon" value="" />
		<parameter id="shortcut" value="ctrl+shift+a" />
		<parameter id="opentime" value="3"/>
	</extension>

	<extension plugin-id="com.deppon.foss.module.mainframe"
		point-id="menu-item" id="openWaybillListUI">
		<parameter id="id" value="openWaybillListUI" />
		<parameter id="code" value="6" />
		<parameter id="parentId" value="MainPage" />
		<parameter id="menuItem-class"
			value="com.deppon.foss.module.waybill.client.action.OpenWaybillListUIAction" />
		<parameter id="index" value="2" />
		<parameter id="text" value="#{waybill.action.waybilllist}" />
		<parameter id="icon" value="" />
		<parameter id="shortcut" value="ctrl+shift+b" />
		<parameter id="opentime" value="2"/>
	</extension>

    <extension plugin-id="com.deppon.foss.module.mainframe"
		point-id="menu-item" id="testUI">
		<parameter id="id" value="testUI" />
		<parameter id="code" value="6" />
		<parameter id="parentId" value="MainPage" />
		<parameter id="menuItem-class"
			value="com.deppon.foss.module.waybill.client.action.TestUIAction" />
		<parameter id="index" value="3" />
		<parameter id="text" value="#{waybill.action.test}" />
		<parameter id="icon" value="" />
		<parameter id="shortcut" value="ctrl+shift+c" />
		<parameter id="opentime" value="1"/>
	</extension>
	
	-->
	
	<!--需要在init里预先实例化的类-->
	<extension plugin-id="com.deppon.foss.module.init" point-id="guiceModule" id="aop-waybill">
		<parameter id="className" value="com.deppon.foss.module.information.client.guice.WayBillModule" />
	</extension>
	
	<extension plugin-id="com.deppon.foss.module.boot" point-id="plugins-all" id="waybill">
	</extension>
	

</plugin>
