<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="com.deppon.foss.module.authorization" version="0.0.1">

	<requires>
		<import plugin-id="com.deppon.foss.module.boot" />
		<import plugin-id="com.deppon.foss.module.init" />

	</requires>

	<runtime>
		<library id="authorization" type="code" path="classes/">
			<export prefix="*" />
		</library>
	</runtime>

		<!--需要在init里预先实例化的类-->
	<extension plugin-id="com.deppon.foss.module.init" point-id="guiceModule" id="aop-Authorization">
		<parameter id="className" value="com.deppon.foss.module.authorization.client.guice.AuthorizationModule" />
	</extension>
	
	<extension plugin-id="com.deppon.foss.module.boot" point-id="plugins-all" id="authorization">
	</extension>
</plugin>
