<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="com.deppon.foss.module.pkp-creating" version="0.0.1">
	<requires>
		<import plugin-id="com.deppon.foss.module.mainframe" />
		<import plugin-id="com.deppon.foss.module.init" />
		<import plugin-id="com.deppon.foss.module.authorization" />
		<import plugin-id="com.deppon.foss.module.boot" />
		<import plugin-id="com.deppon.foss.module.pkp-common" />
		<import plugin-id="com.deppon.foss.module.pkp-pricing" />
		<import plugin-id="com.deppon.foss.module.bse-baseinfo" />
		<import plugin-id="com.deppon.foss.module.bse-dict" />
	</requires>
	
	<runtime>
		<library id="pkp-creating.code" type="code" path="classes/">
			<export prefix="*"/>
		</library>
	</runtime>
	
	<!--运单新增 功能菜单 添加-->
	<extension plugin-id="com.deppon.foss.module.mainframe"
		point-id="menu-item" id="openWaybillUI">
		<parameter id="id" value="openWaybillUI" />
		<parameter id="code" value="6" />
		<parameter id="parentId" value="ShuttleCargo" />
		<parameter id="menuItem-class"
			value="com.deppon.foss.module.pickup.creating.client.action.OpenWaybillEditUIAction" />
		<parameter id="index" value="2" />
		<parameter id="text" value="营业部开单" />
		<parameter id="icon" value="" />
		<parameter id="shortcut" value="ctrl+shift+a" />
		<parameter id="opentime" value="3"/>
	</extension>
	
		<extension plugin-id="com.deppon.foss.module.mainframe"
		point-id="menu-item" id="openFocusWaybillUI">
		<parameter id="id" value="openFocusWaybillUI" />
		<parameter id="code" value="6" />
		<parameter id="parentId" value="ShuttleCargo" />
		<parameter id="menuItem-class"
			value="com.deppon.foss.module.pickup.creating.client.action.OpenFocusWaybillEditUIAction" />
		<parameter id="index" value="2" />
		<parameter id="text" value="集中开单" />
		<parameter id="icon" value="" />
		<parameter id="shortcut" value="ctrl+shift+a" />
		<parameter id="opentime" value="3"/>
	</extension>
	
	<extension plugin-id="com.deppon.foss.module.mainframe"
		point-id="menu-item" id="openSalesDeptWaybillUI">
		<parameter id="id" value="openSalesDeptWaybillUI" />
		<parameter id="code" value="7" />
		<parameter id="parentId" value="ShuttleCargo" />
		<parameter id="menuItem-class"
			value="com.deppon.foss.module.pickup.creating.client.action.OpenSalesDeptWaybillUIAction" />
		<parameter id="index" value="2" />
		<parameter id="text" value="管理营业部出发运单" />
		<parameter id="icon" value="" />
		<parameter id="shortcut" value="ctrl+shift+b" />
		<parameter id="opentime" value="3"/>
	</extension>
	
	<extension plugin-id="com.deppon.foss.module.mainframe"
		point-id="menu-item" id="openAbandendGoodsUI">
		<parameter id="id" value="openAbandendGoodsUI" />
		<parameter id="code" value="7" />
		<parameter id="parentId" value="ShuttleCargo" />
		<parameter id="menuItem-class"
			value="com.deppon.foss.module.pickup.creating.client.action.OpenAbandenedGoodsUIAction" />
		<parameter id="index" value="2" />
		<parameter id="text" value="处理弃货" />
		<parameter id="icon" value="" />
		<parameter id="shortcut" value="ctrl+shift+b" />
		<parameter id="opentime" value="3"/>
	</extension>
	
	<extension plugin-id="com.deppon.foss.module.mainframe"
		point-id="menu-item" id="printSignUI">
		<parameter id="id" value="printSignUI" />
		<parameter id="code" value="9" />
		<parameter id="parentId" value="ShuttleCargo" />
		<parameter id="menuItem-class"
			value="com.deppon.foss.module.pickup.creating.client.action.OpenPrintSignUIAction" />
		<parameter id="index" value="2" />
		<parameter id="text" value="打印标签" />
		<parameter id="icon" value="" />
		<parameter id="shortcut" value="ctrl+shift+d" />
		<parameter id="opentime" value="3"/>
	</extension>
	
	<!--需要在init里预先实例化的类-->
	<extension plugin-id="com.deppon.foss.module.init" point-id="guiceModule" id="aop-waybill">
		<parameter id="className" value="com.deppon.foss.module.pickup.creating.client.guice.WayBillModule" />
	</extension>
	
</plugin>
