@charset "utf-8";

.predeliver_icons_edit {
	width:20px;
	height:23px;
	background-image: url(../../images/predeliver/edit.gif);
	background-repeat:no-repeat;
	margin:1px;
}
.predeliver_notice_customer_row_pink {
    background-color: #F9CAD0;
}
.predeliver_notice_customer_row_purole {
    background-color: #ACE28F;
}
.predeliver_notice_customer_row_white {
    background-color: #FFFFFF;
}
.predeliver_notice_customer_row_green {
    background-color: green;
}
.predeliver_notice_customer_row_orange {
    background-color: orange;
}
.predeliver_notice_customer_row_yellow {
    background-color: yellow;
}