<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<!--zxy 20131011 BUG-55198 修改：1.syncDataSaver扩展 增加switchType开关类型  2.新增5张表的离线下载-->
<plugin id="com.deppon.foss.module.pkp-common" version="0.0.1">
	<requires>
		<import plugin-id="com.deppon.foss.module.mainframe" />
		<import plugin-id="com.deppon.foss.module.init" />
		<import plugin-id="com.deppon.foss.module.authorization" />
		<import plugin-id="com.deppon.foss.module.boot" />
		<import plugin-id="com.deppon.foss.module.pkp-pricing" />
		<import plugin-id="com.deppon.foss.module.bse-baseinfo" />
		<import plugin-id="com.deppon.foss.module.bse-dict" />
	</requires>
	<runtime>
		<library id="pkp-common.code" type="code" path="classes/">
			<export prefix="*"/>
		</library>
	</runtime>
	
<!--	
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="departmentSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.authorization.client.savers.BasDepartmentSaver" />
	</extension>
-->	
	
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="basConfigSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.BasConfigSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="N" />
		<parameter id="switchType" value="SYNDATA_SWITCH_BASE" />
	</extension>
	
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="basSalesProductSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.BasSalesProductSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="Y" />
		<parameter id="switchType" value="SYNDATA_SWITCH_BASE" />
	</extension>
<!--	
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="basDataDictionarySaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.BasDataDictionarySaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="N" />
	</extension>
-->	
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="basDataDictionaryValueSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.BasDataDictionaryValueSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="N" />
		<parameter id="switchType" value="SYNDATA_SWITCH_BASE" />
	</extension>
	
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="basGoodsAreaSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.BasGoodsAreaSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="Y" />
		<parameter id="switchType" value="SYNDATA_SWITCH_BASE" />
	</extension>
<!--
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="basBankSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.BasBankSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="N" />
	</extension>
	-->
<!--	
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="basFinOrgSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.BasFinOrgSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="N" />
	</extension>
-->	
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="basFreightRouteLineSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.BasFreightRouteLineSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="Y" />
		<parameter id="switchType" value="SYNDATA_SWITCH_BASE" />
	</extension>
		
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="basLineSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.BasLineSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="Y" />
		<parameter id="switchType" value="SYNDATA_SWITCH_BASE" />
	</extension>
	
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="basLineItemSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.BasLineItemSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="N" />
		<parameter id="switchType" value="SYNDATA_SWITCH_BASE" />
	</extension>

	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="basOrgInfoSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.BasOrgInfoSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="Y" />
		<parameter id="switchType" value="SYNDATA_SWITCH_BASE" />
	</extension>
 
	<!--zxy 20140408 修改:数据量大于3000改成分页下载 -->
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="basAdministrativeRegionsSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.BasAdministrativeRegionsSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="Y" />
		<parameter id="switchType" value="SYNDATA_SWITCH_BASE" />
	</extension>
 	
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="basFreightRouteSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.BasFreightRouteSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="Y" />
		<parameter id="switchType" value="SYNDATA_SWITCH_BASE" />
	</extension>
 	
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="basLimitedWarrantyItemsSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.BasLimitedWarrantyItemsSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="N" />
		<parameter id="switchType" value="SYNDATA_SWITCH_BASE" />
	</extension>
	
	
	<!-- 该表废弃
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="basNetGroupSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.BasNetGroupSaver" />
		<parameter id="need-org-search" value="Y" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="N" />
	</extension>
	 -->
	
	 <extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="basNetGroupMixSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.BasNetGroupMixSaver" />
		<parameter id="need-org-search" value="Y" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="N" />
		<parameter id="switchType" value="SYNDATA_SWITCH_BASE" />
	</extension>
	
	 <extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="basNetGroupMixMidSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.BasNetGroupMixMidSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="Y" />
		<parameter id="switchType" value="SYNDATA_SWITCH_BASE" />
	</extension>
	
	
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="salesBillingGroupSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.SalesBillingGroupSaver" />
		<parameter id="need-org-search" value="Y" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="N" />
		<parameter id="switchType" value="SYNDATA_SWITCH_BASE" />
	</extension>
	
	
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="basAsteriskSalesDeptSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.BasAsteriskSalesDeptSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="N" />
		<parameter id="switchType" value="SYNDATA_SWITCH_BASE" />
	</extension>
	
	
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="basOuterBranchSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.BasOuterBranchSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="Y" />
		<parameter id="switchType" value="SYNDATA_SWITCH_BASE" />
	</extension>
	
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="basProhibitedArticlesSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.BasProhibitedArticlesSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="N" />
		<parameter id="switchType" value="SYNDATA_SWITCH_BASE" />
	</extension>
	
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="basResourceSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.BasResourceSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="N" />
		<parameter id="switchType" value="SYNDATA_SWITCH_BASE" />
	</extension>
	
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="basRoleSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.BasRoleSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="N" />
		<parameter id="switchType" value="SYNDATA_SWITCH_BASE" />
	</extension>
	
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="basRoleResourceSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.BasRoleResourceSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="Y" />
		<parameter id="switchType" value="SYNDATA_SWITCH_BASE" />
	</extension>
	
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="basSalesDepartmentSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.BasSalesDepartmentSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="Y" />
		<parameter id="switchType" value="SYNDATA_SWITCH_BASE" />
	</extension>
	
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="basOutfieldSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.BasOutfieldSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="N" />
		<parameter id="switchType" value="SYNDATA_SWITCH_BASE" />
	</extension>
	
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="basUserSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.BasUserSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="N" />
		<parameter id="switchType" value="SYNDATA_SWITCH_BASE" />
	</extension>
	
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="basUserOrgRoleSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.BasUserOrgRoleSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="N" />
		<parameter id="switchType" value="SYNDATA_SWITCH_BASE" />
	</extension>
	
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="basBusinessPartnerSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.BasBusinessPartnerSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="N" />
		<parameter id="switchType" value="SYNDATA_SWITCH_BASE" />
	</extension>
	
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="srvDiscountProgramSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.SrvDiscountProgramSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="N" />
		<parameter id="switchType" value="SYNDATE_SWITCH_WAYBILL" />
	</extension>
	
	<!--zxy 20131011 BUG-55198  修改：放开srvEffectivePlanSaver注释 -->
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="srvEffectivePlanSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.SrvEffectivePlanSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="N" />
		<parameter id="switchType" value="SYNDATE_SWITCH_WAYBILL" />
	</extension>
   
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="srvEffectivePlanDetailSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.SrvEffectivePlanDetailSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="Y" />
		<parameter id="switchType" value="SYNDATE_SWITCH_WAYBILL" />
	</extension>
	
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="srvGoodsTypeSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.SrvGoodsTypeSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="N" />
		<parameter id="switchType" value="SYNDATE_SWITCH_WAYBILL" />
	</extension>
	
	
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="srvBillingGroupTransferSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.SrvBillingGroupTransfer" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="N" />
		<parameter id="switchType" value="SYNDATE_SWITCH_WAYBILL" />
	</extension>
	
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="srvMakEventExOrgSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.SrvMakEventExOrgSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="N" />
		<parameter id="switchType" value="SYNDATE_SWITCH_WAYBILL" />
	</extension>

	
		
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="srvMakEventInOrgSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.SrvMakEventInOrgSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="N" />
		<parameter id="switchType" value="SYNDATE_SWITCH_WAYBILL" />
	</extension>
 
	
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="srvMarketingEventSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.SrvMarketingEventSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="N" />
		<parameter id="switchType" value="SYNDATE_SWITCH_WAYBILL" />
	</extension>

	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="srvPricePlanSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.SrvPricePlanSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="N" />
		<parameter id="switchType" value="SYNDATE_SWITCH_WAYBILL" />
	</extension>
	
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="srvPriceRegionSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.SrvPriceRegionSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="N" />
		<parameter id="switchType" value="SYNDATE_SWITCH_WAYBILL" />
	</extension>
   
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="srvPriceRegioOrgSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.SrvPriceRegioOrgSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="N" />
		<parameter id="switchType" value="SYNDATE_SWITCH_WAYBILL" />
	</extension>
    
     
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="srvPriceRuleSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.SrvPriceRuleSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="N" />
		<parameter id="switchType" value="SYNDATE_SWITCH_WAYBILL" />
	</extension>
	
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="srvPriceSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.SrvPriceSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="N" />
		<parameter id="switchType" value="SYNDATE_SWITCH_WAYBILL" />
	</extension>
 
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="srvProductSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.SrvProductSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="N" />
		<parameter id="switchType" value="SYNDATE_SWITCH_WAYBILL" />
	</extension>
	
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="srvProductItemSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.SrvProductItemSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="N" />
		<parameter id="switchType" value="SYNDATE_SWITCH_WAYBILL" />
	</extension>
 	
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="srvEffectiveRegionSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.SrvEffectiveRegionSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="N" />
		<parameter id="switchType" value="SYNDATE_SWITCH_WAYBILL" />
	</extension>
	
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="srvEffectiveRegionOrgSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.SrvEffectiveRegionOrgSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="N" />
		<parameter id="switchType" value="SYNDATE_SWITCH_WAYBILL" />
	</extension>
 	
 	<!--zxy 20140408 修改:数据量大于3000改成分页 -->
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="srvPriceValuationFreightSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.SrvPriceValuationFreightSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="Y" />
		<parameter id="switchType" value="SYNDATE_SWITCH_WAYBILL" />
	</extension>
	
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="srvPriceValuationBasisAddSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.SrvPriceValuationBasisAddSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="Y" />
		<parameter id="switchType" value="SYNDATE_SWITCH_WAYBILL" />
	</extension>
	
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="srvPriceValuationProductAddSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.SrvPriceValuationProductAddSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="Y" />
		<parameter id="switchType" value="SYNDATE_SWITCH_WAYBILL" />
	</extension>
	
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="srvPriceValuationRegionAddSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.SrvPriceValuationRegionAddSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="Y" />
		<parameter id="switchType" value="SYNDATE_SWITCH_WAYBILL" />
	</extension>
 
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="srvDiscountOrgSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.SrvDiscountOrgSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="N" />
		<parameter id="switchType" value="SYNDATE_SWITCH_WAYBILL" />
	</extension>
	
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="srvDepartureStandardSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.DepartureStandardSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="Y" />
		<parameter id="switchType" value="SYNDATA_SWITCH_BASE" />
	</extension>
	
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="srvMarketingEventChannelSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.SrvMarketingEventChannelSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="N" />
		<parameter id="switchType" value="SYNDATE_SWITCH_WAYBILL" />
	</extension>
	
	
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="srvPriceRegionAirSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.SrvPriceRegionAirSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="N" />
		<parameter id="switchType" value="SYNDATE_SWITCH_WAYBILL" />
	</extension>
	
	
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="srvPriceRegionOrgAirSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.SrvPriceRegionOrgAirSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="N" />
		<parameter id="switchType" value="SYNDATE_SWITCH_WAYBILL" />
	</extension>
	
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="srvPriceAirPlanDtoSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.SrvPriceAirPlanDtoSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="N" />
		<parameter id="switchType" value="SYNDATE_SWITCH_WAYBILL" />
	</extension>
	
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="srvPriceValuationAirSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.SrvPriceValuationAirSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="Y" />
		<parameter id="switchType" value="SYNDATE_SWITCH_WAYBILL" />
	</extension>
	
	
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="srvSalesDescExpandsSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.BasSalesDescExpandSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="Y" />
		<parameter id="switchType" value="SYNDATA_SWITCH_BASE" />
	</extension>
	
	
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="basCityExpressSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.BasCityExpressSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="Y" />
		<parameter id="switchType" value="SYNDATE_SWITCH_WAYBILL" />
	</extension>
	
	
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="srvExpressRegionSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.SrvExpressRegionSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="N" />
		<parameter id="switchType" value="SYNDATE_SWITCH_WAYBILL" />
	</extension>
	
	
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="srvExpressRegionOrgSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.SrvExpressRegionOrgSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="N" />
		<parameter id="switchType" value="SYNDATE_SWITCH_WAYBILL" />
	</extension>
	
	
	
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="srvPriceValuationRegionExpressSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.SrvPriceValuationRegionExpressSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="Y" />
		<parameter id="switchType" value="SYNDATE_SWITCH_WAYBILL" />
	</extension>
	
	
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="srvPricePlanExpressSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.SrvPricePlanExpressSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="N" />
		<parameter id="switchType" value="SYNDATE_SWITCH_WAYBILL" />
	</extension>
	
	<!--zxy 20140408 修改:数据量大于3000改成分页 -->
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="srvPriceValuationFreightExpressSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.SrvPriceValuationFreightExpressSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="Y" />
		<parameter id="switchType" value="SYNDATE_SWITCH_WAYBILL" />
	</extension>
	
	<!--zxy 20131010 BUG-55198 start 新增：添加新的下载功能-->
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="srvMinfeePlanSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.SrvMinfeePlanSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="N" />
		<parameter id="switchType" value="SYNDATE_SWITCH_WAYBILL" />
	</extension>
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="srvValueaddRegionSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.SrvValueaddRegionSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="N" />
		<parameter id="switchType" value="SYNDATE_SWITCH_WAYBILL" />
	</extension>
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="srvValueaddRegionOrgSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.SrvValueaddRegionOrgSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="N" />
		<parameter id="switchType" value="SYNDATE_SWITCH_WAYBILL" />
	</extension>
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="srvPriceArriveRegionSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.SrvPriceArriveRegionSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="N" />
		<parameter id="switchType" value="SYNDATE_SWITCH_WAYBILL" />
	</extension>
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="srvPriceArriveRegionOrgSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.SrvPriceArriveRegionOrgSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="N" />
		<parameter id="switchType" value="SYNDATE_SWITCH_WAYBILL" />
	</extension>
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="srvOuterPriceSaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.SrvOuterPriceSaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="N" />
		<parameter id="switchType" value="SYNDATE_SWITCH_WAYBILL" />
	</extension>
	
	<extension plugin-id="com.deppon.foss.module.init" point-id="syncDataSaver"
		id="srvDiscountPrioritySaver">
		<parameter id="saver-class"
			value="com.deppon.foss.module.pickup.common.client.savers.SrvDiscountPrioritySaver" />
		<parameter id="need-org-search" value="N" />
		<parameter id="need-region-search" value="N" />
		<parameter id="pagination" value="N" />
		<parameter id="switchType" value="SYNDATE_SWITCH_WAYBILL" />
	</extension>
	<!--zxy 20131010 BUG-55198 end 新增：添加新的下载功能-->
	
    <!--需要在init里预先实例化的类-->
  
    <extension plugin-id="com.deppon.foss.module.init" point-id="guiceModule" id="aop-waybill">
        <parameter id="className" value="com.deppon.foss.module.pickup.common.client.guice.CommonModule" />
    </extension>
    <extension plugin-id="com.deppon.foss.module.init" point-id="guiceModule" id="base-info">
        <parameter id="className" value="com.deppon.foss.module.pickup.common.client.guice.BaseInfoModule" />
    </extension>
    
        <!-- 注册绑定类型装换 -->
    <extension plugin-id="com.deppon.foss.module.boot" point-id="auto-run" id="binding-init">
        <parameter id="class" value="com.deppon.foss.module.pickup.common.client.ui.BindingUIInit"/>
        <parameter id="order" value="13"/>
        <parameter id="phase" value="before-login"/>
        <parameter id="halt-on-error" value="false"/>
    </extension>
    
    <extension plugin-id="com.deppon.foss.module.mainframe"
        point-id="menu-item" id="searchPublicPrice">
        <parameter id="id" value="searchPublicPrice" />
        <parameter id="code" value="9" />
        <parameter id="parentId" value="MainPage" />
        <parameter id="menuItem-class"
            value="com.deppon.foss.module.pickup.common.client.action.OpenPublicPriceUIAction" />
        <parameter id="index" value="3" />
        <parameter id="text" value="公布价查询" />
        <parameter id="icon" value="" />
        <parameter id="shortcut" value="ctrl+shift+0" />
        <parameter id="opentime" value="3"/>
    </extension>

    <extension plugin-id="com.deppon.foss.module.mainframe"
        point-id="menu-item" id="crm360view">
        <parameter id="id" value="crm360view" />
        <parameter id="code" value="9" />
        <parameter id="parentId" value="MainPage" />
        <parameter id="menuItem-class"
            value="com.deppon.foss.module.pickup.common.client.action.OpenCrmMemberViewUIAction" />
        <parameter id="index" value="3" />
        <parameter id="text" value="客户360视图" />
        <parameter id="icon" value="" />
        <parameter id="shortcut" value="ctrl+shift+0" />
        <parameter id="opentime" value="3"/>
    </extension>
    
    
    <extension plugin-id="com.deppon.foss.module.mainframe"
        point-id="menu-item" id="crmAllocationOrder">
        <parameter id="id" value="crmAllocationOrder" />
        <parameter id="code" value="9" />
        <parameter id="parentId" value="MainPage" />
        <parameter id="menuItem-class"
            value="com.deppon.foss.module.pickup.common.client.action.OpenCrmAllocationOrderUIAction" />
        <parameter id="index" value="3" />
        <parameter id="text" value="CRM订单查询" />
        <parameter id="icon" value="" />
        <parameter id="shortcut" value="ctrl+shift+0" />
        <parameter id="opentime" value="3"/>
    </extension>
</plugin>
