.exceptionProcess_mark_color{
	background:#FFC0CB;
}

.deppon_icons_edit_hide{
	display:none;	
}

.deppon_icons_notice_hide{
	display:none;	
}

.foss_icons_pkp_exceptionSec_hide{
	display:none;	
}

.foss_icons_pkp_exception_hide{
	display:none;	
}