@charset "utf-8";

.predeliver_icons_edit {
	width:20px;
	height:23px;
	background-image: url(../../images/predeliver/edit.gif);
	background-repeat:no-repeat;
	margin:1px;
}
tr.predeliver_notice_customer_row_pink {
    background-color: #F9CAD0;
}
tr.predeliver_notice_customer_row_purole {
    background-color: #E3CCF6;
}
tr.predeliver_notice_customer_row_white {
    background-color: #FFFFFF;
}
.predeliver_row_red{
	background-color: #F08080;
}
.predeliver_row_pink{
	background-color: #F9CAD0;
}