@charset "utf-8";
/* 对账单 */
.statementBill_tabHead{margin-left:20px;margin-right:20px;}

/* 操作列 */
.statementBill_add {
    height: 14px;
    width:14px;
    border: none;
    margin-top:5px;margin-left:5px;
    background: transparent url(../../images/writeoff/add.png) repeat-x !important;
}
.statementBill_remove {
    height: 14px;
    width:14px;
    border: none;
    margin-top:5px;margin-left:5px;
    background: transparent url(../../images/writeoff/remove.png) repeat-x !important;
}
.statementBill_mark {
    height: 14px;
    width:14px;
    border: none;
    margin-top:5px;margin-left:5px;
    background: transparent url(../../images/writeoff/mark_r.png) repeat-x !important;
}
.statementBill_unmark {
    height: 14px;
    width:14px;
    border: none;
    margin-top:5px;margin-left:5px;
    background: transparent url(../../images/writeoff/mark_g.png) repeat-x !important;
}

.statementBill_button_mark {
    border: none;
    width:14px;
    margin-top:3px;margin-left:5px;
    background: transparent url(../../images/writeoff/mark_r.png) repeat-x !important;
}

.statementBill_button_unmark {
    border: none;
    width:14px;
    margin-top:3px;margin-left:5px;
    background: transparent url(../../images/writeoff/mark_g.png) repeat-x !important;
}
.statementBill_hide{
	display:none;	
}

.statementBill_mark_color{
	background:#B8B8DC;
}
/*统计添加图片*/
.statementBill_total {
    margin-top:3px;
    border: none; 
    background-repeat:no-repeat !important;
    background: transparent url(../../images/writeoff/sumDetail.png) repeat-x !important;
}
/*设置grid数据行背景色为淡紫色*/
.x-grid-record-red{  
    background: #B8B8DC;  
}  
.statementBill_totalSum {
    border:2px #faaf19 solid;
}

/*设置grid数据行背景色为浅灰色*/
.x-grid-record-lightGray{  
    background: #C7C7C7;  
} 