<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="com.deppon.foss.module.bse-dict" version="0.0.1">
	<runtime>
		<library id="bse-dict.code" type="code" path="classes/">
			<export prefix="*"/>
		</library>
	</runtime>

	
</plugin>
